parameters:
	ignoreErrors:
		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: ajax/surveytranslation.form.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 2
			path: front/surveytranslation.form.php

		-
			message: '#^Access to an undefined property GlpiPlugin\\Satisfaction\\Dashboard\:\:\$interfaces\.$#'
			identifier: property.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Access to an undefined property GlpiPlugin\\Satisfaction\\Dashboard\:\:\$options\.$#'
			identifier: property.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Access to static property \$HELPDESK on an unknown class GlpiPlugin\\Mydashboard\\Menu\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Access to static property \$KPI on an unknown class GlpiPlugin\\Mydashboard\\Widget\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Call to method setWidgetHeader\(\) on an unknown class GlpiPlugin\\Mydashboard\\Html\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Call to method setWidgetHtmlContent\(\) on an unknown class GlpiPlugin\\Mydashboard\\Html\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Call to method setWidgetTitle\(\) on an unknown class GlpiPlugin\\Mydashboard\\Html\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Call to method toggleWidgetRefresh\(\) on an unknown class GlpiPlugin\\Mydashboard\\Html\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Call to static method getGraphHeader\(\) on an unknown class GlpiPlugin\\Mydashboard\\Helper\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Call to static method manageCriterias\(\) on an unknown class GlpiPlugin\\Mydashboard\\Helper\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Function displayElement not found\.$#'
			identifier: function.notFound
			count: 4
			path: src/Dashboard.php

		-
			message: '#^Inner named functions are not supported by PHPStan\. Consider refactoring to an anonymous function, class method, or a top\-level\-defined function\. See issue \#165 \(https\://github\.com/phpstan/phpstan/issues/165\) for more details\.$#'
			identifier: function.inner
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Instantiated class GlpiPlugin\\Mydashboard\\Html not found\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\Dashboard\:\:getWidgetContentForItem\(\) has invalid return type GlpiPlugin\\Mydashboard\\Html\.$#'
			identifier: class.notFound
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\Dashboard\:\:getWidgetContentForItem\(\) should return GlpiPlugin\\Mydashboard\\Html but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Parameter \#2 \$year of method GlpiPlugin\\Satisfaction\\Dashboard\:\:getDateIntervalForPeriod\(\) expects null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Variable \$options might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/Dashboard.php

		-
			message: '#^Variable \$options on left side of \?\? is never defined\.$#'
			identifier: nullCoalesce.variable
			count: 1
			path: src/Dashboard.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$resource$#'
			identifier: parameter.notFound
			count: 1
			path: src/NotificationMailing.php

		-
			message: '#^PHPDoc tag @return has invalid value \(\)\: Unexpected token "\\n     \*", expected type at offset 118 on line 6$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/NotificationMailing.php

		-
			message: '#^PHPDoc tag @return has invalid value \(\)\: Unexpected token "\\n     \*", expected type at offset 132 on line 5$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/NotificationMailing.php

		-
			message: '#^PHPDoc tag @return has invalid value \(\)\: Unexpected token "\\n     \*", expected type at offset 196 on line 8$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/NotificationMailing.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/NotificationMailing.php

		-
			message: '#^Parameter \#1 \$item of method NotificationTargetTicket\:\:getDataForObject\(\) expects CommonITILObject, CommonDBTM given\.$#'
			identifier: argument.type
			count: 1
			path: src/NotificationTargetTicket.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/NotificationTargetTicket.php

		-
			message: '#^Call to an undefined method CommonGLPI\:\:getField\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^Call to an undefined method CommonGLPI\:\:getID\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\Profile\:\:getTabNameForItem\(\) has invalid return type GlpiPlugin\\Satisfaction\\translated\.$#'
			identifier: class.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\Profile\:\:showForm\(\) has invalid return type GlpiPlugin\\Satisfaction\\nothing\.$#'
			identifier: class.notFound
			count: 1
			path: src/Profile.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\Profile\:\:showForm\(\) should return GlpiPlugin\\Satisfaction\\nothing but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/Profile.php

		-
			message: '#^Parameter \#2 \$openform \(bool\) of method GlpiPlugin\\Satisfaction\\Profile\:\:showForm\(\) should be compatible with parameter \$options \(array\<string, mixed\>\) of method Profile\:\:showForm\(\)$#'
			identifier: method.childParameterType
			count: 1
			path: src/Profile.php

		-
			message: '#^Return type \(GlpiPlugin\\Satisfaction\\nothing\) of method GlpiPlugin\\Satisfaction\\Profile\:\:showForm\(\) should be compatible with return type \(bool\) of method Profile\:\:showForm\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/Profile.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/Profile.php

		-
			message: '#^PHPDoc tag @throws with type GlpitestSQLError is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: src/Reminder.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Reminder.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/Reminder.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\Survey\:\:duplicateSurvey\(\) should return true but returns false\.$#'
			identifier: return.type
			count: 2
			path: src/Survey.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\Survey\:\:prepareInputForAdd\(\) should return false but returns array\<string, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Survey.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\Survey\:\:prepareInputForUpdate\(\) should return false but returns array\<string, mixed\>\.$#'
			identifier: return.type
			count: 1
			path: src/Survey.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/Survey.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyAnswer\:\:displaySatisfaction\(\) should return bool but empty return statement found\.$#'
			identifier: return.empty
			count: 1
			path: src/SurveyAnswer.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyAnswer\:\:displaySatisfaction\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: src/SurveyAnswer.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyAnswer\:\:getAnswer\(\) has invalid return type clean\.$#'
			identifier: class.notFound
			count: 1
			path: src/SurveyAnswer.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyAnswer\:\:getAnswer\(\) should return clean\|int\|string but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/SurveyAnswer.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyAnswer\:\:showResponsiveSurvey\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/SurveyAnswer.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyAnswer\:\:showSurvey\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/SurveyAnswer.php

		-
			message: '#^PHPDoc tag @param for parameter \$target with type NotificationTarget is not subtype of native type NotificationTargetTicket\.$#'
			identifier: parameter.phpDocType
			count: 1
			path: src/SurveyAnswer.php

		-
			message: '#^Parameter \#1 \$string of function htmlspecialchars expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/SurveyAnswer.php

		-
			message: '#^Binary operation "\." between ''\<td class\=\\''left\\''\>'' and array results in an error\.$#'
			identifier: binaryOp.invalid
			count: 1
			path: src/SurveyQuestion.php

		-
			message: '#^Call to an undefined method CommonGLPI\:\:getID\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/SurveyQuestion.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyQuestion\:\:getForbiddenStandardMassiveAction\(\) has invalid return type GlpiPlugin\\Satisfaction\\an\.$#'
			identifier: class.notFound
			count: 1
			path: src/SurveyQuestion.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyQuestion\:\:getForbiddenStandardMassiveAction\(\) should return GlpiPlugin\\Satisfaction\\an but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/SurveyQuestion.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyQuestion\:\:getQuestionType\(\) should return array but returns string\.$#'
			identifier: return.type
			count: 4
			path: src/SurveyQuestion.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyQuestion\:\:showForSurvey\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: src/SurveyQuestion.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyQuestion\:\:showForm\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/SurveyQuestion.php

		-
			message: '#^Parameter \#1 \$survey of static method GlpiPlugin\\Satisfaction\\SurveyQuestion\:\:showForSurvey\(\) expects GlpiPlugin\\Satisfaction\\Survey, CommonGLPI given\.$#'
			identifier: argument.type
			count: 1
			path: src/SurveyQuestion.php

		-
			message: '#^Parameter \#2 \$withtemplate of static method GlpiPlugin\\Satisfaction\\SurveyQuestion\:\:showForSurvey\(\) expects string, bool\|int given\.$#'
			identifier: argument.type
			count: 1
			path: src/SurveyQuestion.php

		-
			message: '#^Return type \(GlpiPlugin\\Satisfaction\\an\) of method GlpiPlugin\\Satisfaction\\SurveyQuestion\:\:getForbiddenStandardMassiveAction\(\) should be compatible with return type \(array\) of method CommonDBTM\:\:getForbiddenStandardMassiveAction\(\)$#'
			identifier: method.childReturnType
			count: 1
			path: src/SurveyQuestion.php

		-
			message: '#^Variable \$survey might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/SurveyQuestion.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/SurveyQuestion.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyReminder\:\:showForm\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 1
			path: src/SurveyReminder.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyReminder\:\:showSurvey\(\) should return bool but return statement is missing\.$#'
			identifier: return.missing
			count: 2
			path: src/SurveyReminder.php

		-
			message: '#^PHPDoc tag @param references unknown parameter\: \$item$#'
			identifier: parameter.notFound
			count: 1
			path: src/SurveyReminder.php

		-
			message: '#^Parameter \#1 \$survey of static method GlpiPlugin\\Satisfaction\\SurveyReminder\:\:showSurvey\(\) expects GlpiPlugin\\Satisfaction\\Survey, CommonGLPI given\.$#'
			identifier: argument.type
			count: 1
			path: src/SurveyReminder.php

		-
			message: '#^Variable \$survey might not be defined\.$#'
			identifier: variable.undefined
			count: 1
			path: src/SurveyReminder.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/SurveyReminder.php

		-
			message: '#^Parameter \#1 \$item of static method GlpiPlugin\\Satisfaction\\SurveyResult\:\:showResult\(\) expects GlpiPlugin\\Satisfaction\\Survey, CommonGLPI given\.$#'
			identifier: argument.type
			count: 1
			path: src/SurveyResult.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyTranslation\:\:canBeTranslated\(\) should return true but returns bool\.$#'
			identifier: return.type
			count: 1
			path: src/SurveyTranslation.php

		-
			message: '#^Method GlpiPlugin\\Satisfaction\\SurveyTranslation\:\:getNumberOfTranslationsForItem\(\) has invalid return type GlpiPlugin\\Satisfaction\\the\.$#'
			identifier: class.notFound
			count: 1
			path: src/SurveyTranslation.php

		-
			message: '#^PHPDoc tag @param has invalid value \(\)\: Unexpected token "\\r\\n    \*", expected type at offset 77 on line 4$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/SurveyTranslation.php

		-
			message: '#^PHPDoc tag @return has invalid value \(true;\)\: Unexpected token ";", expected TOKEN_HORIZONTAL_WS at offset 124 on line 6$#'
			identifier: phpDoc.parseError
			count: 1
			path: src/SurveyTranslation.php

		-
			message: '#^Parameter \#1 \$ID of method CommonDBTM\:\:check\(\) expects int, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/SurveyTranslation.php

		-
			message: '#^Parameter \#1 \$item of static method GlpiPlugin\\Satisfaction\\SurveyTranslation\:\:showTranslations\(\) expects GlpiPlugin\\Satisfaction\\Survey, CommonGLPI given\.$#'
			identifier: argument.type
			count: 1
			path: src/SurveyTranslation.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/SurveyTranslation.php

		-
			message: '#^You should not use the `die` function\. It prevents the execution of post\-request/post\-command routines\.$#'
			identifier: glpi.forbidExit
			count: 1
			path: src/SurveyTranslationDAO.php
